*
{
	margin:0px;
	padding:0px;
	box-sizing:border-box;
}

a
{outline-style:none !important;text-decoration:none;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}
a:hover
{
	text-decoration:none !important;
}

body {
	overflow-x:hidden;
	font-family: 'Roboto-Regular';
	min-height:100% !important;
	/*background-image:url(../images/bg-pattern.jpg);*/
	background-repeat:repeat;
}


h1 ,h2 ,h3 ,h4 ,h5 ,h6
{
	font-weight:100;
}

@font-face {
	font-family: 'ArimaMadurai-Bold';
	src: url('../fonts/ArimaMadurai-Bold.eot');
	src: url('../fonts/ArimaMadurai-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArimaMadurai-Bold.woff') format('woff'),
		url('../fonts/ArimaMadurai-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'ArimaMadurai-Black';
	src: url('../fonts/ArimaMadurai-Black.eot');
	src: url('../fonts/ArimaMadurai-Black.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ArimaMadurai-Black.woff') format('woff'),
		url('../fonts/ArimaMadurai-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.eot');
	src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Regular.woff') format('woff'),
		url('../fonts/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-Bold';
	src: url('../fonts/Roboto-Bold.eot');
	src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Roboto-Bold.woff') format('woff'),
		url('../fonts/Roboto-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

.margin5{
	margin: 5px;
}
.margin10{
	margin:10px;
}
.margin15{
	margin:15px;
}
.margin20{
	margin:20px;
}
.margin25{
	margin:25px;
}
.margin30{
	margin:30px;
}
.margin35{
	margin:35px;
}
.margin40{
	margin:40px;
}
.margin45{
	margin:45px;
}
.margin50{
	margin:50px;
}
.margin55{
	margin:55px;
}
.margin60{
	margin:60px;
}

/*/
/*====================
/* margintop
/*====================
/*/
.margintop5{
	margin-top: 5px;
}
.margintop10{
	margin-top:10px;
}
.margintop15{
	margin-top:15px;
}
.margintop20{
	margin-top:20px;
}
.margintop25{
	margin-top:25px;
}
.margintop30{
	margin-top:30px;
}
.margintop35{
	margin-top:35px;
}
.margintop40{
	margin-top:40px;
}
.margintop45{
	margin-top:45px;
}
.margintop50{
	margin-top:50px;
}
.margintop55{
	margin-top:55px;
}
.margintop60{
	margin-top:60px;
}

/*/
/*====================
/* marginbottom
/*====================
/*/
.marginbottom5{
	margin-bottom: 5px;
}
.marginbottom10{
	margin-bottom:10px;
}
.marginbottom15{
	margin-bottom:15px;
}
.marginbottom20{
	margin-bottom:20px;
}
.marginbottom25{
	margin-bottom:25px;
}
.marginbottom30{
	margin-bottom:30px;
}
.marginbottom35{
	margin-bottom:35px;
}
.marginbottom40{
	margin-bottom:40px;
}
.marginbottom45{
	margin-bottom:45px;
}
.marginbottom50{
	margin-bottom:50px;
}
.marginbottom55{
	margin-bottom:55px;
}
.marginbottom60{
	margin-bottom:60px;
}

/*/
/*====================
/* marginleft
/*====================
/*/

.marginleft5{
	margin-left: 5px;
}
.marginleft10{
	margin-left:10px;
}
.marginleft15{
	margin-left:15px;
}
.marginleft20{
	margin-left:20px;
}
.marginleft25{
	margin-left:25px;
}
.marginleft30{
	margin-left:30px;
}
.marginleft35{
	margin-left:35px;
}
.marginleft40{
	margin-left:40px;
}
.marginleft45{
	margin-left:45px;
}
.marginleft50{
	margin-left:50px;
}
.marginleft55{
	margin-left:55px;
}
.marginleft60{
	margin-left:60px;
}


/*/
/*====================
/* marginright
/*====================
/*/

.marginright5{
	margin-right: 5px;
}
.marginright10{
	margin-right:10px;
}
.marginright15{
	margin-right:15px;
}
.marginright20{
	margin-right:20px;
}
.marginright25{
	margin-right:25px;
}
.marginright30{
	margin-right:30px;
}
.marginright35{
	margin-right:35px;
}
.marginright40{
	margin-right:40px;
}
.marginright45{
	margin-right:45px;
}
.marginright50{
	margin-right:50px;
}
.marginright55{
	margin-right:55px;
}
.marginright60{
	margin-right:60px;
}

/*/
/*====================
/* nomargin
/*====================
/*/
.nomargin{
	margin:0;
}
.nomarginleft{
	margin-left:0;
}
.nomarginright{
	margin-right:0;
}
.nomargintop{
	margin-top:0;
}
.nomarginbottom{
	margin-bottom:0;
}



.navbar{border:0px solid transparent !important;margin-top:9px; padding:0 !important; float:right; min-height:inherit; margin-bottom:0px }


.menupanel{text-align:right; float:right;margin:0px 0 0 0; }


.menupanel ul li:last-child{border-right:none;}

.menupanel ul li a
{    
	font-size:14px; 
	color:#000; 
	margin:0 0px; 
	-webkit-transition: all .5s ;
	-moz-transition: all .5s ;
	-ms-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
	transition-timing-function:ease-out;
	font-weight:100;
	text-transform:uppercase;
	padding:15px 15px;
}

.menupanel ul li:last-child a{border:none;}

.menupanel ul li a:hover{ color:#ed5e24; }

.submenu-colorblack li a{color:#fff !important;}

.active a{color:#ed5e24 !important;}

.navbar-toggle{background-image:url(../images/small_nav_icon.png); background-position:center; /*margin:auto;*/ border-radius:0px;}

.dropdown-menu{width:100%; padding:0px !important; margin:0px 0 0 0!important;border:none; background-color:#efece2; }

.dropdown-menu > li > a{padding:6px 3% !important; text-align:left;  text-transform:none; margin:0 0 1px 0!important; font-size:14px !important; width:100%; white-space: normal; font-size:14px !important;}

.dropdown-menu ul li a:hover{background-color:#f5f1e6 !important;}


.nav a:hover{background-color:#f5f1e6;}


.navbar-header{text-align:right; width:100%;}

.navbar-toggle {float:none;}
.navbar-nav
{
	float:right !important;
	z-index:99999;
}
.nav > li > a:hover, .nav > li > a:focus
{
	background-color:transparent !important;
}
a:focus
{
	text-decoration:none !important;
}

.top_black_panel{float:left; width:100%; position:absolute; z-index:2; background-color:rgba(0,0,0,.8);  font-size:14px; color:#9e9e9e; font-family: 'Roboto-Bold'; padding:7px 0;}

.top_black_panel a{color:#9e9e9e;}

.top_black_panel a:hover{color:#FFF;}

.top_black_panel_col1{text-align:left;}

.top_black_panel_col2{text-align:center; font-size:20px;}

.top_black_panel_col2 a{padding:5px 10px;}

.top_black_panel_col3{text-align:right;}

.slider_panel{float:left; width:100%; position:relative; z-index:1;}

.main_toppanel{float:left; width:100%; position:absolute; z-index:10; margin:70px 0 0 0;}

.main_toppanel_inner{float:left; width:100%; background-color:#fffdd0;}

.main_toppanel_inner_logo img{width:100%;padding:10px;}

.main_toppanel_inner_navbar{font-family: 'ArimaMadurai-Bold';}


.slider_top_panel{float:left; width:100%;}

.slider_top_panel_inner{float:left;     border: 1px solid #ed5e23;background-color:rgba(0,0,0,0.6); color:#FFF; font-family: 'ArimaMadurai-Black'; padding:20px 0; width:100%; font-style:italic; margin:-160px 0 0 0;  position:relative; z-index:5; font-size:36px; text-align:center;}


.main_cont_panel{float:left; width:100%; padding:40px 0;}

.main_cont_panel_left_cont{background-image:url(../images/pattern-bg.jpg); background-repeat:repeat;}

.main_cont_panel_left{float:left; width:100%; background-image:url(../images/pattern-bg.jpg); background-repeat:repeat; font-size:14px; border:2px solid #FFF; margin:15px 0; padding:15px; min-height:365px;}

.main_cont_panel_left h2{font-size:30px; font-family: 'ArimaMadurai-Black'; color:#000;}

.main_cont_panel_left h2 span{color:#ed5e23;}

.main_cont_panel_left a{background-color:#ed5e23; color:#FFF; font-size:14px; padding:10px 25px; border-radius:50px; -webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; display:inline-block; margin:20px 0;}

.main_cont_panel_left a:hover{background-color:#000;}


.main_cont_panel_right{overflow:hidden; text-align:center;}

.main_cont_panel_right img{width:100%; background-color:#eeeee3; }

.grey_panel{float:left; width:100%; background-color:#f3f3f3; border-bottom:1px solid #666; padding:50px 0;}

.grey_panel_heading{float:left; width:100%; background-image:url(../images/heading-bg.png); background-position:center; background-repeat:no-repeat; margin:-70px 0 0 0; font-size:30px; color:#ed5e24; text-transform:uppercase;font-family: 'ArimaMadurai-Black';text-align:center }

.grey_panel_heading span{color:#000;}

.grey_panel_col{background-color:#FFF; text-align:center; font-size:18px; text-transform:uppercase;  border:1px solid #666; overflow:hidden; width:100%;}

.grey_panel_col img{width:100%; position:relative; z-index:1; float:left; -webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; }

.grey_panel_col:hover img{transform:scale(1.1) rotate(4deg); -webkit-filter: grayscale(100%); filter: grayscale(100%);}

.grey_panel_col p{padding:10px 0 0 0;background-color:#FFF; position:relative; z-index:3; float:left; width:100%;font-family: 'Roboto-Bold';}


.grey_panel_col_panel{float:left; width:100%; text-align:center; margin:5px 0;}

.grey_panel_col_panel_link{background-color:#ed5e23; color:#FFF; font-size:14px; padding:10px 25px; border-radius:50px; -webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; display:inline-block; margin:20px 0;} 

.grey_panel_col_panel_link:hover{background-color:#000;}


.icon_panel{float:left; width:100%; text-align:center; padding:50px 0;}

.icon_panel_col{background-image:url(../images/stroke.jpg); background-repeat:no-repeat; background-position:right center; font-size:20px; font-family: 'ArimaMadurai-Black';}

.icon_panel_col img{margin:0 0 20px 0; display:inline-block;-webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}

.icon_panel_col:hover img{	-ms-transform: rotate(360deg) scale(1.1); /* IE 9 */
    -webkit-transform: rotate(360deg) scale(1.1); /* Chrome, Safari, Opera */
    transform: rotate(360deg) scale(1.1);}

.icon_panel_col p{display:inline-block; width:100%;}

.no_border{background-image:none;}


.grey_panel_col2{background-color:#FFF; text-align:center; font-size:18px; overflow:hidden; width:100%; box-shadow:0px 5px 5px rgba(0,0,0,.5); margin-top:30px; }

.grey_panel_col2 img{width:100%; position:relative; z-index:1; float:left; -webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out; }

.grey_panel_col2:hover img{transform:scale(1.1) rotate(4deg); -webkit-filter: grayscale(100%); filter: grayscale(100%);}

.grey_panel_col2 p{padding:10px 0;background-color:rgba(0,0,0,.4); position:relative; z-index:3; float:left; width:100%;font-family: 'Roboto-Bold'; color:#FFF; margin:-60px 0 0 0; -webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}

.grey_panel_col2:hover p{background-color:rgba(0,0,0,1);}


.bottom_logo_panel{float:left; width:100%; padding:10px 0;}

.bottom_logo_panel img{padding:15px 20px; width:16%; opacity:0.6; display:inline-block;  -webkit-transition:all .5s;-moz-transition:all .5s;-ms-transition:all .5s;-o-transition:all .5s;transition:all .5s;transition-timing-function:ease-out;}

.bottom_logo_panel img:hover{opacity:1;}

.no_border{border:none;}

.footer{float:left; width:100%;  background-image:url(../images/footer_bg.jpg); background-repeat:repeat; padding-bottom:40px}

.footer_logo_panel{float:left; width:100%; background-color:#ed5e24; padding:50px 40px; text-align:center}

.footer_logo_panel img{width:100%; max-width:200px}

.footer_social_panel{float:left; width:100%; text-align:center; margin:15px 0 0 0;}

.footer_social_panel a{color:#000; font-size:25px; padding:15px 10px; display:inline-block;}

.footer_social_panel a:hover{color:#ed5e24;}

.footer_contact{float:left; width:100%; color:#4e4e4e; font-size:14px;}

.footer_contact h2{font-size:26px; font-family: 'ArimaMadurai-Black'; text-transform:uppercase; color:#000; margin-top:50px}

.footer_contact p{float:left; width:100%; position:relative; margin:5px 0;}

.footer_contact p i{position:absolute; left:0px; font-size:22px; color:#000;}

.footer_contact p span{width:100%; padding-left:30px; float:left;}

.footer_contact p span a{color:#4e4e4e;}

.footer_contact p span a:hover{color:#ed5e24;}

.footer_map{float:left; width:100%;}

/*.footer_map img{float:left; width:100%; margin:40px 0 0 0;}*/
.footermap{ margin:40px 0 0 0; }

.footer_bottom{float:left; width:100%; background-color:#333333; color:#FFF; padding:20px 0;}

.footer_bottom span{float:right;}

/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.theme-default .nivoSlider {
	position:relative;
	background:#fff url(../images/loading.gif) no-repeat 50% 50%;
    margin-bottom:10px;
    -webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
    -moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
    box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}

.theme-default .nivo-controlNav {
	display: none;
	text-align: left;
	padding: 15px 5%;
	margin:0px 0 0px 0;
	position:relative;
	z-index:9999;
	margin:-60px 0 0 0;

}
.theme-default .nivo-controlNav a {
	display:inline-block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin:0px 2px 0;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
}

.theme-default .nivo-directionNav a {
	display:block;
	width:60px;
	height:120px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
	opacity: 0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-60px 0;
	right:0px;
}
.theme-default a.nivo-prevNav {
	left:0px;
}

.theme-default .nivo-caption {
    font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
    color:#fff;
    border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
    color:#fff;
}

.theme-default .nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.theme-default .nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}
/*/
/*====================
/* kuma
/*====================
/*/


.grey_panel_col_panel a{color: #fff;}
.pink{color: #ed5e23;}
.banner{position: relative;}
.banner img{height: 300px;width: 100%;}
.gallery_panel_heading{
	position: absolute;
	float:left;
 	width:100%;
 	top: 0;
 	line-height: 450px;
 	background-position:center;
 	background-repeat:no-repeat;
 	margin:0;
 	font-size:30px;
 	color:#ed5e24;
 	text-transform:uppercase;
 	font-family: 'ArimaMadurai-Black';
 	text-align:center 
}

.gallery_panel_heading span{
    background: rgba(0,0,0,0.6);
    color: #fff;
    padding: 6px 30px;
}
.team-gd {
    padding: 0;
    position: relative;
}
.team-gd img {
    width: 100%;
    border-bottom: 6px solid rgba(0, 0, 0, 0.81);
}
.gallerywrap{
	margin-top: 50px;
	margin-bottom: 50px;
	display: inline-block;
}
.gcaption{
	position: absolute;
	bottom: 40%;
    padding: 4px 0px 4px;
    width: 100%;
    display: block;
    text-align: center;
    color: #000;
    text-transform: capitalize;
    opacity: 0;
    font-weight: 600;
    transition: 0.8s;
}

.team-gd:hover .gcaption{
	opacity: 1;
	display: block;
	color: #ed5e24;
	transition: 0.8s;
    bottom: 10%;
    background: rgba(0,0,0,0.5);
}
.clientwrap{
    background: #ed5e24;
    padding: 2px 2px 0 2px;
    margin-bottom: 20px;
      -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;
}

.clientwrap img{
	width: 100%;
	transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
.clientwrap:hover img{
	transform: scale(0.9, 0.9);
    -webkit-transform: scale(0.9, 0.9);
    -moz-transform: scale(0.9, 0.9);
    -ms-transform: scale(0.9, 0.9);
    -o-transform: scale(0.9, 0.9);
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    -moz-transition-timing-function: ease-out;
    -ms-transition-timing-function: ease-out;
    -o-transition-timing-function: ease-out;
    -webkit-transition-duration: .5s;
    -moz-transition-duration: .5s;
    -ms-transition-duration: .5s;
    -o-transition-duration: .5s;
}
.clienttitle{
	width: 100%;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 10px 0 10px;
}
.aboutwrap{
	display: inline-block;
	background: #fffdd0;
	padding: 50px 15px;
}
.img-thumbnail{
	background: #ed5e24;
}
.margintop50{
	margin-top: 50px;
}
.marginbottom50{
	margin-bottom: 50px;
}
.contacttitle{
	font-size: 30px;
    text-transform: uppercase;
    font-family: 'ArimaMadurai-Black';
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 30px;
}
.maptitle{
	font-size: 30px;
    text-transform: uppercase;
    font-family: 'ArimaMadurai-Black';
    text-align: center;
}
.list-icons {
    padding-left: 0;
    margin-left: 36px;
    margin-top: 0px;
    list-style-type: none;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
    margin-bottom: 20px;
}

.list-unstyled li {
    margin-bottom: 30px;
}
.list-icons > li {
    position: relative;
    color: #000;
    padding-top: 9px;
    padding-left: 15px;
}
ul.social-icons {
    padding: 0;
    list-style: none;
}
.list-icons > li > i {
    position: absolute;
    left: -36px;
    width: 36px;
    height: 36px;
    top: 2px;
    background: #ffffff;
    text-align: center;
    color: #ed5e24;
    font-size: 18px;
    vertical-align: middle;
    border-radius: 50px;
    border: 2px solid #ed5e24;
    padding-top: 7px;
    transition: 0.6s;
}
.list-icons > li > i:hover {
	background: #b43b00;
	border: 2px solid #b43b00;
	color: #fff;
	transition: 0.6s;
}
.list-icons > li > a{
	text-decoration: none;
	color: #000;
}
.input-group-addon{
	background: #ed5e24;
	color: #fff;
	min-width: 40px;
	transition: 0.5s;
}
.input-group-addon:hover{
	background: #b43b00;
	color: #fff;
	transition: 0.5s;
}
.socialwrap{
	list-style-type: none;
}
.socialwrap li{
	float: left;
    padding: 10px;
    border-radius: 50%;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
}
.socialwrap li a{
	color: #000;
}
.socialwrap li:hover{
	background: #333;
}
.socialwrap li:hover a{color: #ed5e24;}
.socialfollow{
    text-transform: uppercase;
    font-family: 'ArimaMadurai-Black';
    padding-bottom: 10px;
    border-bottom: 2px solid #333;
}
.orangecolor{color: #ed5e24;}
.iconcolor{color: #8b9737;}
.btncontact{
	background-color: #ed5e23;
    color: #FFF;
    font-size: 14px;
    padding: 10px 25px;
    border-radius: 50px;
    border: none;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    transition-timing-function: ease-out;
    display: inline-block;
}
.btncontact:hover {background-color: #000;}
.invalid{border: 1px solid #d43f3a;}
.missionbg,.pagebg{background-image:url(../images/pattern-bg.jpg); background-repeat:repeat;}
#pagecontent h1,#pagecontent h2,#pagecontent h3,#pagecontent h5,#pagecontent h6,#pagecontent h4{
	font-family: 'ArimaMadurai-Black';
}
.whiteborder{
	margin: 15px 0;
    border: 4px solid #fffdd0;
    padding: 15px;
   background: #fffdd0;
}
.infrwhiteborder{
	margin: 15px 0;
    border: 4px solid #fffdd0;
    padding: 30px;	
    background: #fffdd0;
}
.thankumsg{color: green;}
.missiontitle{
	text-transform: uppercase;
    font-family: 'ArimaMadurai-Black';
}

.grid {
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

.grid li {
	display: inline-block;
	margin: 0;
	text-align: left;
	position: relative;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 100%;
	width: 100%;
	display: block;
	position: relative;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #ed5e24;
	color: #ed4e6e;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	text-transform: capitalize;
	color: #fff;
	font-size: 16px;
}

.grid figcaption span:before {
	content: 'by ';
}

.grid figcaption a {
	text-align: center;
	padding: 5px 10px;
	border-radius: 2px;
	display: inline-block;
	background: #ed4e6e;
	color: #fff;
}

/* Caption Style 2 */
.cs-style-2 figure img {
	z-index: 10;
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.no-touch .cs-style-2 figure:hover img,
.cs-style-2 figure.cs-hover img {
	-webkit-transform: translateY(-60px);
	-moz-transform: translateY(-60px);
	-ms-transform: translateY(-60px);
	transform: translateY(-60px);
}

.cs-style-2 figcaption {
	height: 60px;
	width: 100%;
	top: auto;
	bottom: 0;
}

.cs-style-2 figcaption a {
	position: absolute;
	right: 20px;
	top: 30px;
}


/*-- effect --*/
.men-pro-item {
    position: relative;
    box-shadow: 0px 0px 15px 0px #D6D6D6;
    padding-bottom: 20px;
    margin-top: 30px;
}
.men-thumb-item {
    position: relative;
}
.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}
.men-thumb-item::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    opacity: 0;
    z-index: 9;
    visibility: hidden;
    transition: all 0.5s ease-out 0s;
}
.men-thumb-item .pro-image-front {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.pro-image-back {
    transform: rotateY(180deg);
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
}
.men-cart-pro {
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    transition: all 0.5s ease-out 0s;
    visibility: hidden;
    z-index: 10;
}
.product-new-top {
    background: #868686 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    right: 0;
    padding: 0 10px 1px;
    position: absolute;
    text-transform: capitalize;
    top: 0;
    z-index: 10;

}
.inner-men-cart-pro {
    height: 100%;
    position: relative;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro ul {
    left: 0;
    margin: -60px 0 0;
    padding: 0;
    position: absolute;
    top: 45%;
    width: 100%;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    bottom: -40px;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
}
.link-product-add-cart {
    background:#000 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    transition: all 0.5s ease-out 0s;
}
.inner-men-cart-pro > ul > li {
    display: inline-block;
}
.inner-men-cart-pro ul li a {
    color: #fff;
    transition: all 0.5s ease-out 0s;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
}
.men-thumb-item:hover {
    cursor: pointer;
}
.men-thumb-item:hover::before {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .pro-image-front {
    transform: scale(1.1);
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    opacity: 1;
    visibility: visible;
}
/*.men-thumb-item:hover .pro-image-back {
    transform: rotateY(0deg);
    opacity: 1;
    visibility: visible;
    background: #f7f7f7;
}*/
.men-thumb-item img {
    transition: all 0.5s ease-out 0s;
    padding: 52px 50px 20px;
    top: 0;
    left: 0;
    margin: auto;
}
.men-thumb-item:hover .men-cart-pro {
    opacity: 1;
    visibility: visible;
}
.men-thumb-item:hover .inner-men-cart-pro ul {
    margin: 20px 0 0;
}
.inner-men-cart-pro ul li a:hover {
    background: #ffc229 none repeat scroll 0 0;
}
.inner-men-cart-pro .link-product-add-cart {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: all 0.5s ease-out 0s;
    font-weight: 600;
}
.men-thumb-item:hover .inner-men-cart-pro .link-product-add-cart {
    top: 83.5%;
}
.link-product-add-cart:hover {
	font-weight: 600;
    background: #ed5e24 none repeat scroll 0 0;
    color: #fff;
}
.product-men img{
	width: 100%;
}
.item-info-product {
    text-align: center;
    margin: 20px 0 0;
}
.item-info-product h4 a {
    font-size: 18px;
    color: #ed5e24;
    text-decoration: none;
}
.grey_panel_col2 img{
	/*padding: 30px;*/
}


@media screen and (min-width:1920px)

{


}

@media screen and (max-width:1340px)

{
	
	
}

@media screen and (max-width:1250px)

{
.menupanel ul li a
{    
	padding:10px 5px;
}

}

@media screen and (max-width:1200px)

{
	.slider_panel_summer{ padding:15px; }
	.slider_panel_summer h2{font-size:30px;}
	
}

@media screen and (max-width:1020px)

{

.slider_top_panel_inner{font-size:20px; padding:10px; margin:-100px 0 0 0;}


}

@media screen and (max-width:999px)

{

.header_panel_left img {width:90% }

	.slider_panel_summer{ padding:10px; }
	.slider_panel_summer h2{font-size:25px;}
	
.slider_panel_summer_panel{margin:0px 0 0 0;}

.menupanel ul li a
{    
	padding:0px 4px; font-size:12px;
}

.dropdown-menu > li > a{font-size:13px !important; }

.navbar{
	margin-top: 16px;
}


}

@media screen and (max-width:950px)

{
	
	
}

@media screen and (max-width:900px)

{
.bottom_logo_panel img{padding:15px 20px; width:32%;}	
}

@media screen and (max-width:850px)

{

}

@media screen and (max-width:800px)

{

.theme-default .nivo-directionNav a {
	width:30px;
	height:60px;
	background-size:60px auto
}
.theme-default:hover .nivo-directionNav a { opacity: 1; }
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
}
.theme-default a.nivo-prevNav {
	left:0px;
}

}


@media screen and (max-width:767px)

{
.navbar-nav{background-color:#efece2; width:240px; padding:5px 0px;}
.navbar-nav > li{float:left; width:100%; text-align:left;}

.navbar{position:absolute; right:25px; top:-65px;}

.menupanel ul li a
{    
	padding:5px 6px;
	font-size:13px;
}

.menupanel{
	background: #efece2;
}
.nav-pills>li{
	float: none;
	text-align: left;
}

.main_toppanel_inner_logo img{width:180px;}

.main_cont_panel_right{position:relative;}

.main_cont_panel_right img{margin:20px 0; max-width:320px; }

.grey_panel_col{margin-top:20px;}

.slider_top_panel_inner{font-size:24px; margin:0px 0 0 0;}

.icon_panel_col{background-image:none;}




}



@media screen and (max-width:700px)

{
}

@media screen and (max-width:667px)

{
}

@media screen and (max-width:600px)

{

.top_black_panel_col1{text-align:center; width:100%}
.top_black_panel_col2{text-align:center; width:100%}
.top_black_panel_col3{text-align:center; width:100%}

.slider_panel{margin:80px 0 0 0;}
.main_toppanel{margin:100px 0 0 0;}

.slider_panel{margin:180px 0 0 0;}

.bottom_logo_panel img{padding:5px 20px; width:47%;}	


}

@media screen and (max-width:550px)

{
	
	.footer_bottom{text-align:center}
	.footer_bottom span{width:100%; text-align:center}
	
	.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	top:30%;
}
.theme-default a.nivo-prevNav {
	left:0px;top:30%;
}


}


@media screen and (max-width:480px)

{
	
}


@media screen and (max-width:400px)

{
	

	
}

@media screen and (max-width:350px)

{
}